<%- include("../admin/header-layout.ejs") %>
    <section>
        <div class="container mt-4">
            <div class="row">
                <div class="col-md-6">
                    <h2 class="text-center">Add Coupons</h2>
                    <form action="/add-coupons" method="post">
                        <br>
                        <input type="text" required placeholder="Name" name="name" class="form-control"
                            style="border-color: grey;">
                        <br>
                        Discount(%):
                        <input type="number" name="discount" placeholder="Discount" class="form-control"
                            style="border-color: grey;">
                        <br>
                        Expiry:
                        <input type="date" name="expDate" placeholder="Expire on" class="form-control"
                            style="border-color: grey;">
                        <br>
                        Max Limit:
                        <input type="number" name="maxLimit" placeholder="Max Limit" class="form-control"
                            style="border-color: grey;">
                        <br>
                        <button type="submit" class="btn btn-success mt-4">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <%- include("../admin/footer-layout.ejs") %>