<%- include("../admin/header-layout.ejs") %>
    <section>
        <div class="container mt-4">
            <div class="row">
                <div class="col-md-6">
                    <h2 class="text-center">Edit Category</h2>
                    <form action="/admin/edit-categories/<%= Category._id %>" method="post" enctype="multipart/form-data">
                        <br>
                        <input type="text" required name="name" class="form-control" value="<%= Category.name %>"
                            style="border-color: grey;">
                        <br>
                        <input type="file" required name="imgUrl" class="form-control">
                        <button type="submit" class="btn btn-success mt-4">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <%- include("../admin/footer-layout.ejs") %>