<%- include('header-layout.ejs') %>
    <div class="container" style="min-height: 100vh; margin-top: 50px;">
        
            <div class="col-md-12 text-center">
                
                <div class="col-md-12">
                    <h1 style="font-weight: 700;">Order Placed Successfully</h1>
                    <h4>Please check your orders for invoice</h4>
                </div>

                <img src="/public/img/success.gif" alt="" width="300rem">
                
                
            </div>
      
    </div>
    <%- include('footer-layout.ejs') %>