<%- include('header-layout.ejs') %>
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div>
                    <img src="/public/img/success.gif" alt="" style="width: 50rem;">
                </div>
                <div>
                    <h1 style="font-weight: 700;">Order Placed Successfully</h1>
                    <h4>Please check your orders for invoice</h4>
                </div>
            </div>
        </div>
    </div>
    <%- include('footer-layout.ejs') %>